@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Homemade+Apple&family=Major+Mono+Display&family=Orbitron:wght@400;500&family=Rajdhani&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Major Mono Display', monospace;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #c7cbd7;
    /* background: linear-gradient(#2b1055, #7597de); */
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
section img#airplane{
  top: -100%;
  height: 100%;
  object-fit: cover;
}
section img#ticket {
    top: -100%;
}

 /* section img#att {
    top: -100%;
  /* mix-blend-mode: screen; */


section img#att {
  top: -100%;
    height: 100%;
    object-fit: cover;
}

section img#lug {
    bottom: -100%;
    top: initial;

}
section img#security {
    bottom: -200%;
    top: initial;

}
section img#boarding {
    bottom: -200%;
    top: initial;

}

img#questions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

img#rt {
  width:20%;
  top:-2500;
  margin-left:500px;

}
#text {
    position: absolute;
    color: #fff;
    font-size: 8vw;
    font-weight: 200;
    margin-right: -2500px;
}

#text span {
    font-weight: 700;
}

#text1 {
  position: absolute;
  color: hotpink;
  font-size: 60px;
  font-weight: 200;
  margin-right: -2500px;
}

#text2 {
  position: absolute;
  color: grey;
  font-size: 30px;
  font-weight: 200;
  margin-right: -3000px;
  margin-left: 10px;
}
#text3 {
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 200;
  margin-right: -3000px;
  margin-top: 20px;
}

#btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 120px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 50px;
    background: #fff;
    border-radius: 40px;
    font-size: 1.4em;
    color: black;
    z-index: 10000;
}

#btn2 {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 120px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 50px;
  background: #fff;
  border-radius: 40px;
  font-size: 20px;
  color: black;
  margin-right: -3500px;
  z-index: 10000;
}

#btn5 {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 500px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 50px;
  background: #fff;
  border-radius: 40px;
  font-size: 20px;
  color: black;
  margin-right: -3500px;
  z-index: 10000;
}

#btn6 {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 200px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 50px;
  background: #fff;
  border-radius: 40px;
  font-size: 15px;
  color: black;
  margin-right: -3500px;
  z-index: 10000;
}

.button {
  background-color: #F1A7F2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

p {
  font-family: 'Fjalla One', sans-serif;
}
.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fjalla One', sans-serif;

}

.typing {
  width: 25ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  font-family: 'Fjalla One', sans-serif;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}
