@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


/* for capturing I am trying to make new style.css for sketch.js */
html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
